<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crop Recommendation System</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <link rel="stylesheet" href="./public/styles.css" />
    <link rel="stylesheet" href="./public/login.css" />
  </head>
  <body>
    <main>
      <h1>
        Crop Recommendation <br />
        System
      </h1>
      <div class="container-login">
        <h2>Enter State Name</h2>
        <textarea name="stateName" id="stateName"></textarea>
        <p>*If not provided detect automatically</p>
        <a href="./main.html" id="getStateName">SUBMIT</a>
      </div>
    </main>
  </body>
</html>
