/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  --font-primary: "Poppins", sans-serif;
  --font-heading: "Bowlby One SC", sans-serif;
  --heading: 2.5rem;
  --data: 2rem;
}
